#root {
  font-size: 18px;
  max-width: 1280px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-style: italic;
  font-size: 20px;
}

p {
  font-size: 20px;
}
p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: 16px;
  color: currentColor;
}

button {
  cursor: pointer;
  font-size: 24px;
  padding: 5px 10px;
  margin: 10px;
  border: 1px solid black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 10px;
  max-width: 1440px;
  justify-content: center;
}
