.link {
  color: var(--color-white);
  display: inline-block;
  letter-spacing: 0.06em;
  border: 1px solid var(--color-light);
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 6px 18px;
  transition: background-color var(--animation-cubicBezie);
  background-color: #c5c5c5;
}

.link:hover,
.link:focus {
  background-color: #cfcfcf;
}
