.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 18px;
  padding-top: 20px;
}

.item {
  width: 200px;
  font-size: 24px;
  background-color: #f3f0f0;
}

.average {
  font-size: 14px;
}
